@import '~styles/theme/theme.scss';

.root {
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-position:
    center 20%,
    center bottom;
  background-size:
    auto auto,
    cover;
  background-repeat: no-repeat, no-repeat;
  background-color: var(--d8x-background-continues-color);

  //background-attachment: fixed;

  &.tablet {
    background-size:
      auto auto,
      100% auto;
  }

  &.mobile {
    background-size:
      auto auto,
      100% auto;
    background-position:
      center 20%,
      left bottom;
  }
}
