@import '~styles/theme/theme.scss';

.root {
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--d8x-background-continues-color);
  background-attachment: fixed;

  &.tablet {
    background-size: 100% auto;
  }

  &.mobile {
    background-size: 100% auto;
    background-position: left bottom;
  }
}
