@mixin dark-colors {
  --d8x-color-action: #2660fd; //-- 0169ff
  --d8x-color-action-rgb: 1, 69, 255;
  --d8x-color-action-secondary: #fffda3dd; //-- 48bea2 #003740
  --d8x-color-text-main: #fff;
  --d8x-color-text-highlight: #48bea2;
  --d8x-color-text-secondary: #f3f2f2;
  --d8x-color-text-label-one: #aaa;
  --d8x-color-text-label-two: #a4a4a4;
  --d8x-color-text-primarytab-inactive: #818181;
  --d8x-color-text-buy: #91d8c7; //-- 007967 91d8c7 48bea2
  --d8x-color-text-sell: #ff4861;
  --d8x-color-background: #071332; //-- 071332 201b35
  --d8x-color-background-page-rgb: 102, 74, 223;
  --d8x-color-background-items: #071332ee; //-- #071332 171819ee
  --d8x-color-background-items-second: #2e2e2eee;
  --d8x-color-background-items-selected: rgba(102, 74, 223, 0.1);
  --d8x-color-background-items-inactive: #2e2e2eee;
  --d8x-color-background-table-row: #2f485899;
  --d8x-color-background-table: transparent;
  --d8x-color-background-loader: rgba(102, 74, 223, 0.1);
  --d8x-color-background-buy-rgb: 0, 121, 103;
  --d8x-color-background-sell-rgb: 255, 72, 97;
  --d8x-color-background-buy-inactive-rgb: 129, 129, 129;
  --d8x-color-border: #00a8bb;
  --d8x-color-icon: #7860e3;
  --d8x-color-icon-second: #383838;
  --d8x-color-separator-border: #00a8bb;
  --d8x-color-input-border: #00a8bb;
  --d8x-color-logo-second: white;
  --d8x-color-warning-main: #ffda9f;
  --d8x-color-warning-secondary: #ffbdbd;
  --d8x-meter-color-border: #0145ff;
  --d8x-meter-background-division: rgba(255, 255, 255, 1);
  --d8x-meter-background-division-done: rgba(1, 69, 255, 1);

  //--Additional colors
  --d8x-color-background-header: #071332ee;
  --d8x-color-background-icon: #252d3b;
  --d8x-color-background-order-block: var(--d8x-color-background-items);
  --d8x-color-background-card-content: transparent;
  --d8x-color-background-order-block-bottom: transparent;
  --d8x-color-background-table-holder: transparent;
  --d8x-color-background-table-header: transparent;
  --d8x-color-background-table-row-default: var(--d8x-color-background-table-row);
  --d8x-color-background-table-even-row: transparent;
  --d8x-color-text-table-header: #46484d;
  --d8x-color-text-table-cell: #fff;
  --d8x-color-action-icon: #0145ff;
  --d8x-color-background-primary: var(--d8x-color-action);
  --d8x-color-background-primary-hover: rgba(var(--d8x-color-action-rgb), 0.6);
  --d8x-color-background-primary-disabled: rgba(var(--d8x-color-background-buy-inactive-rgb), 0.5);
  --d8x-color-buy-rgba: rgba(var(--d8x-color-background-buy-rgb), 1);
  --d8x-color-background-buy: rgba(var(--d8x-color-background-buy-rgb), 1);
  --d8x-color-background-buy-hover: rgba(var(--d8x-color-background-buy-rgb), 0.9);
  --d8x-color-background-buy-disabled: rgba(var(--d8x-color-background-buy-inactive-rgb), 0.5);
  --d8x-color-sell-rgba: rgba(var(--d8x-color-background-sell-rgb), 1);
  --d8x-color-background-sell: rgba(var(--d8x-color-background-sell-rgb), 1);
  --d8x-color-background-sell-hover: rgba(var(--d8x-color-background-sell-rgb), 0.9);
  --d8x-color-background-sell-disabled: rgba(var(--d8x-color-background-buy-inactive-rgb), 0.5);
  --d8x-color-background-order-option: var(--d8x-color-background-items-inactive);
  --d8x-color-background-order-option-hover: var(--d8x-color-background-items-inactive);
  --d8x-color-background-order-option-selected: var(--d8x-color-action);
  --d8x-color-text-order-option: #fff;
  --d8x-color-text-order-option-hover: var(--d8x-color-action);
  --d8x-color-text-order-option-selected: var(--d8x-color-text-secondary);
  --d8x-color-background-modal: var(--d8x-color-background);
  --d8x-color-background-order-block-info: transparent;
  --d8x-color-text-order-block-info: var(--d8x-color-text-main);
  --d8x-color-text-market-icon: var(--d8x-color-action);
  --d8x-color-background-pumpstation-overview: var(--d8x-color-action);
  --d8x-color-text-pumpstation-overview: #fff;
  --d8x-color-text-warning: #1c1c1c;

  //--Project custom colors
  --d8x-background-continues-color: #000217;
  --d8x-color-footer-icon: #edd954;
  --d8x-color-footer-icon-hover: #fffda3;
  --d8x-color-footer-icon-shadow: #333;

  //--Override colors for toastify
  --toastify-color-progress-success: #664adf;
  --toastify-color-progress-error: #ffbdbd;
  --toastify-color-progress-warning: #ffbdbd;
  --toastify-color-progress-info: #ffbdbd;
  --toastify-color-progress-light: linear-gradient(to right, #ffda9f, #ffbdbd, #000);
}
